<% layout('layouts/boilerplate') %>
<div class="assign-locations-container">
    <button class="btn back-btn back-button" onclick="window.location.href='/storage/<%= storage.serviceABV %>/storages'"><i class="bi bi-arrow-left-circle"></i></button>
  <h1>Creation of Locations to Storage: <%= storage.storageName %></h1>
  
  <form action="/storage/<%= storage._id %>/add-locations" method="POST">
   
   <!-- Choix de l'outil de rangement -->
   <div class="form-group">
    <label for="outilRangement" class="form-label">Outil de Rangement :</label>
    <select id="outilRangement" name="outilRangement" class="form-control" required>
        <option value="" selected disabled>Sélectionner l'outil</option>
        <option value="RY">Rayonnage (RY)</option>
        <option value="AR">Armoire (AR)</option>
        <option value="CF">Coffre (CF)</option>
        <option value="FR">Frigo (FR)</option>
        <option value="CS">Caisson (CS)</option>
        <option value="CH">Chariot (CH)</option>
        <option value="PL">Palette (PL)</option>
    </select>
</div>

<!-- Numéro de l'outil de rangement -->
<div class="form-group">
    <label for="outilNumero" class="form-label">Numéro de l'Outil:</label>
    <input type="number" id="outilNumero" name="outilNumero" class="form-control" placeholder="Entrez le numéro (1, 2, 3...)" required>
</div>

<!-- Détails supplémentaires pour le rayonnage -->
<div id="rayonnageDetails" class="form-group" style="display: none;">
    <label for="bloc" class="form-label">Bloc :</label>
    <select id="bloc" name="bloc" class="form-control">
        <option value="" selected disabled>Sélectionner le bloc</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="E">E</option>
        <option value="F">F</option>
        <option value="G">G</option>
        <option value="H">H</option>
        <option value="I">I</option>
        <option value="J">J</option>
        <option value="K">K</option>
        <option value="L">L</option>
        <option value="M">M</option>
        
    </select>

    <label for="niveauRayon" class="form-label">Niveau du Rayon :</label>
    <input type="number" id="niveauRayon" name="niveauRayon" class="form-control" placeholder="Niveau du rayon (1, 2, 3...)">
</div>
<input type="hidden" id="storageServiceAbv" value="<%= storage.serviceABV %>">
<input type="hidden" id="storageId" value="<%= storage._id %>"> 
<button type="submit" class="assign-btn mt-3" id="createLocationBtn">Create Location</button>
  </form>
</div>


