<% layout('layouts/boilerplate') %>
<div class="storage-table-container">
  <h1>List of Services</h1>
  <table class="storage-table">
    <thead>
      <tr>
        <th>Code</th>
        <th>Service</th>
        <th>Location type</th>
        <th>N° of Storages</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for (service of services) { %>
        <tr>
          <!-- Display service abbreviation, but use serviceId (MongoDB _id) for redirection -->
          <td onclick="window.location.href='/storage/<%= service.serviceABV %>/storages'" style="cursor: pointer;">
            <%= service.serviceABV %> <!-- Display the abbreviation -->
          </td>
          <!-- Display service name, but use serviceId (MongoDB _id) for redirection -->
          <td onclick="window.location.href='/storage/<%= service.serviceABV %>/storages'" style="cursor: pointer;">
            <%= service._id %> <!-- Display the service name -->
          </td>
          <td onclick="window.location.href='/storage/<%= service.serviceABV %>/storages'" style="cursor: pointer;">
            <%= service.locationType %> <!-- Display the service name -->
          </td>
          <!-- Display storage count -->
          <td onclick="window.location.href='/storage/<%= service.serviceABV %>/storages'" style="cursor: pointer;">
            <%= service.storageCount %> <!-- Display the storage count -->
          </td>
          <td>
            <button class="view-btn" style="background-color: green;" onclick="window.location.href='/inStock/service/stock-details/<%= service.serviceABV %>'">Stock Details</button>
            <button class="view-btn" style="background-color: rgba(0, 187, 255, 0.497);" onclick="window.location.href='/inStock/service/<%= service.serviceABV %>'">Medicaments Details</button>
            <button class="edit-btn"><i class="bi bi-pencil-square"></i></button>
            <button class="delete-btn"><i class="bi bi-trash"></i></button>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
