<% layout('layouts/boilerplate') %>

<div class="demand-detail-container" data-aos="fade-up">
  <h2>Demand Details</h2>
  
  <p><strong>Title:</strong> <%= demand.title %></p>
  <p><strong>Category:</strong> <%= demand.category %></p>
  <p><strong>Service:</strong> <%= demand.service %></p>
  <p><strong>Priority:</strong> <%= demand.priority %></p>
  <p><strong>Description:</strong> <%= demand.description %></p>
  <% if(demand.quantity){%>
  <p><strong>Quantity:</strong> <%= demand.quantity %></p>
  <% } %>
  <p><strong>Contact:</strong> <%= demand.contact %></p>
  <p><strong>Status:</strong> <%= demand.status %></p>
  
  <% if (demand.assignedTo) { %>
    <p><strong>Assigned To:</strong> <%= demand.assignedTo.username %></p>
  <% } else { %>
    <p><strong>Assigned To:</strong> Unassigned</p>
  <% } %>

  <p><strong>Created By:</strong> <%= demand.createdBy %></p>
  <p><strong>Created At:</strong> <%= new Date(demand.createdAt).toLocaleString() %></p>
 
</div>
