<button type="button" class="btn demand-new-button me-2" data-bs-toggle="modal" data-bs-target="#new-<%= inventory._id %>">
  New Item
</button>

<div class="modal fade add-storage-modal" id="new-<%= inventory._id %>" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content add-storage-page-container">
      <div class="modal-header">
        <h5 class="modal-title" id="addstock-<%= inventory._id %>">New item</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form id="addToStorageForm" method="POST" class="add-storage-form row needs-validation" action="/inventory/<%= inventory._id %>" novalidate>
          <% if (!inventory.serviceABV) { %>
          <!-- Service Select (grouped by serviceABV) -->
          <div id="serviceSelect" class="mb-3">
            <label for="service" class="label-required">Select Service</label>
            <select id="service" name="serviceABV" class="form-control" onchange="filterStorages(this.value)">
              <option value="" disabled selected>-- Select a service --</option>
              <% groupedStorages.forEach(group => { %>
              <% if (group.storages.length > 0) { %>
              <option value="<%= group._id %>">
                <%= group.storages[0].service %>
              </option>
              <% } %>
              <% }) %>
            </select>
          </div>

          <!-- Storage Select -->
          <div id="storageSelect">
            <label for="storage" class="label-required">Select Storage</label>
            <select id="storage" name="storageName" class="storage form-control  mb-3">
              <option value="" disabled selected>-- Select a storage --</option>
              <% groupedStorages.forEach(group => { %>
              <% group.storages.forEach(storage => { %>
              <option data-service="<%= group._id %>" value="<%= storage.storageName %>">
                <%= storage.storageName %> - <%= storage.endroitDescription %>
              </option>
              <% }) %>
              <% }) %>
            </select>
          </div>

          <% } else if (!inventory.storageName) { %>
          <!-- Hidden input for serviceABV -->
          <input type="text" value="<%= inventory.serviceABV %>" name="serviceABV" hidden>

          <script>
            document.addEventListener('DOMContentLoaded', function() {
              // Pass the value from the EJS template to the filterStorages function
              filterStorages('<%= inventory.serviceABV %>');
            });
          </script>

          <!-- Storage Select -->
          <div id="storageSelect">
            <label for="storage" class=" storagelabel-required">Select Storage</label>
            <select id="storage" name="storageName" class="storage form-control mb-3">
              <option value="" disabled selected>-- Select a storage --</option>
              <% groupedStorages.forEach(group => { %>
              <% group.storages.forEach(storage => { %>
              <option data-service="<%= group._id %>" value="<%= storage.storageName %>">
                <%= storage.storageName %> - <%= storage.endroitDescription %>
              </option>
              <% }) %>
              <% }) %>
            </select>
          </div>

          <% } else { %>
          <!-- Hidden inputs for both serviceABV and storageName -->
          <input type="text" value="<%= inventory.serviceABV %>" name="serviceABV" hidden>
          <input type="text" value="<%= inventory.storageName %>" name="storageName" hidden>
          <% } %>
          <hr>
          <div class="col-12 mb-3">
            <label for="medicament" class="form-label label-required">Item</label>
            <select class="form-select" id="medicament-new-select" name="medicamentId" required onchange="getMinPurchasePrice('<%= inventory._id %>', this.value)">
              <option value="" disabled selected>Select an Item</option>
              <% medicaments.forEach(function(medicament) { %>
              <option value="<%= medicament._id %>">
                <%= medicament.designation %>, Code: <%= medicament.code_pch %>
              </option>
              <% }); %>
            </select>
          </div>

          <!-- boite_de  Input -->
          <div class="col-md-12">
            <label for="boite_de" class="form-label">Boite de: <strong id="boite_de"></strong></label>
            <input type="hidden" name="boite_de" id="boite_de_input" />
          </div>
          
          <!-- Batch Number Input -->
          <div class="col-md-6 mb-3">
            <label for="batchNumber" class="form-label">Batch Number</label>
            <input type="text" class="form-control" id="batchNumber" name="batchNumber">
          </div>

          <!-- Serial Number Input (conditionally rendered) -->
          <div class="col-md-6 mb-3">
            <label for="serialNumber" class="form-label">Serial Number</label>
            <input type="text" class="form-control" id="serialNumber" name="serialNumber">
          </div>
           <!-- Physical Quantity Input -->
           <div class="col-md-6 mb-3">
            <label for="physicalQuantity" class="form-label label-required">Quantity</label>
            <input type="number" class="form-control" id="physicalQuantity" name="physicalQuantity" min="0" required>
          </div>
          <!-- expire date Input -->
          <div class="col-md-6 mb-3">
            <label for="expiryDate" class="form-label">Expiry date</label>
            <input type="date" class="form-control" id="expiryDate" name="expiryDate">
          </div>
         
          <!-- checkbox for qte Input (by boite or by unit)-->
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="QTEbyBox" name="QTEbyBox">
            <label class="form-check-label">
              By Box
            </label>
          </div>
          
          <hr>
          <div id="fournisseurId" class="mb-3">
            <label for="fournisseurId">Select Fournisseur</label>
            <select id="fournisseurId" name="fournisseurId" class="form-control">
              <option value="" disabled selected>-- Select a fournisseur --</option>
              <% fournisseurs.forEach(fournisseur => { %>
              <% if (fournisseurs.length > 0) { %>
              <option value="<%= fournisseur._id %>">
                <%= fournisseur.name %>, Wilaya: <%= fournisseur.wilaya %>, Mobile: <%= fournisseur.mobile[0] %>
              </option>
              <% } %>
              <% }) %>
            </select>
          </div>
          <!-- Purchase Price Input -->
          <div class="col-md-6 mb-3">
            <label for="purchasePrice" class="form-label">Purchase Price</label>
            <input type="number" class="form-control" id="purchasePrice" name="purchasePrice">
          </div>

          <!-- TVA Input -->
          <div class="col-md-6 mb-3">
            <label for="tva" class="form-label">TVA (%)</label>
            <input type="number" class="form-control" id="tva" name="tva" min="0">
          </div>
          <div class="form-group form-check">
            <!-- checkbox for Purchase Price Input (by boite or by unit)-->
            <input type="checkbox" class="form-check-input" id="byBox" name="byBox">
            <label class="form-check-label">
              By Box
            </label>
          </div>
          <hr>
          <!-- N째 Facture Input -->
          <div class="col-md-6 mb-3">
            <label for="NFacture">N째 Facture</label>
            <input type="text" class="form-control" id="NFacture" name="NFacture">
          </div>
          <!--  Facture date Input -->
          <div class="col-md-6 mb-3">
            <label for="factureDate" class="form-label ">Facture date</label>
            <input type="date" class="form-control" id="factureDate" name="factureDate">
          </div>
          <!-- N째 BL Input -->
          <div class="col-md-6 mb-3">
            <label for="NBL" class="form-label">N째 BL</label>
            <input type="text" class="form-control" id="NBL" name="NBL">
          </div>
          <!-- BL date Input -->
          <div class="col-md-6 mb-3">
            <label for="BLDate" class="form-label ">BL date</label>
            <input type="date" class="form-control" id="BLDate" name="BLDate">
          </div>
          <hr>
          <!-- remarks Input -->
          <div class="col-12 mb-3">
            <label for="remarks" class="form-label">Remarks</label>
            <textarea class="form-control" id="remarks" name="remarks"></textarea>
          </div>


          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>