<% layout('layouts/boilerplate') %>
<div class="storage-table-container">
  <button class="btn back-btn back-button" onclick="window.location.href='/achat'"><i class="bi bi-arrow-left-circle"></i></button>

  <h1>List of Purchase Orders (BC)</h1>

  <form class="search-bar mb-2">
    <input type="text" id="search" placeholder="Search in Facture Proformas list" />
  </form>
  <% if (BonCommandes.length > 0) { %>
  <table class="create-prescription-table sortable">
    <thead>
      <tr>
        <th>BC Code</th>
        <th>Fournisseur</th>
        <th>Created By</th>
       
        <th>Created At</th>
      </tr>
    </thead>
    <tbody id="tablebody">
      <% BonCommandes.forEach(facture => { %>
      <tr>
        <td onclick="window.location.href='/achat/approvisionnement/BC/details/<%= facture._id %>'" style="cursor: pointer;"><%= facture.bonCommandeCode %></td>

        <td onclick="window.location.href='/achat/approvisionnement/BC/details/<%= facture._id %>'" style="cursor: pointer;"><%= facture.fournisseurId.name %></td>
        <td onclick="window.location.href='/achat/approvisionnement/fBC/details/<%= facture._id %>'" style="cursor: pointer;"><%= facture.createdBy.username %></td>
       
        <td onclick="window.location.href='/achat/approvisionnement/facture-proforma/details/<%= facture._id %>'" style="cursor: pointer;">
          <%= new Date(facture.createdAt).toLocaleString() %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } else { %>
  <p>No facture proformas found.</p>
  <% } %>
</div>