<% layout('layouts/boilerplate') %>
<div class="storage-table-container">
  <button class="btn back-btn back-button" onclick="window.location.href='/achat'"><i class="bi bi-arrow-left-circle"></i></button>

  <h1>List of Facture Proformas</h1>
  <button type="button" class="btn demand-new-button" onclick="window.location.href='/achat/approvisionnement/facture-proforma/new'">
    <span class="ms-1">New Facture Proforma</span>
  </button>
  <form class="search-bar mb-2">
    <input type="text" id="search" placeholder="Search in Facture Proformas list" />
  </form>
  <% if (factureProformas.length > 0) { %>
  <table class="create-prescription-table sortable">
    <thead>
      <tr>
        <th>Proforma Code</th>
        <th>Fournisseur</th>
        <th>Created By</th>
        <th>Status</th>
        <th>Created At</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="tablebody">
      <% factureProformas.forEach(facture => { %>
      <tr>
        <td onclick="window.location.href='/achat/approvisionnement/facture-proforma/details/<%= facture._id %>'" style="cursor: pointer;"><%= facture.factureProformaCode %></td>

        <td onclick="window.location.href='/achat/approvisionnement/facture-proforma/details/<%= facture._id %>'" style="cursor: pointer;"><%= facture.fournisseur.name %></td>
        <td onclick="window.location.href='/achat/approvisionnement/facture-proforma/details/<%= facture._id %>'" style="cursor: pointer;"><%= facture.createdBy.username %></td>
        <td onclick="window.location.href='/achat/approvisionnement/facture-proforma/details/<%= facture._id %>'" style="cursor: pointer;"> <span class="tag status-badge  <% if (facture.status === 'Pending') { %>status-pending<% } %>
               <% if (facture.status === 'Treated') { %>status-approved<% } %>
                <% if (facture.status === 'Canceled') { %>status-rejected<% } %>
                <% if (facture.status === 'Treated') { %>status-approved<% } %>
                <% if (facture.status === 'Draft') { %>status-Draft<% } %>">
            <%= facture.status %>
          </span>
          
          </td>
        <td onclick="window.location.href='/achat/approvisionnement/facture-proforma/details/<%= facture._id %>'" style="cursor: pointer;">
          <%= new Date(facture.createdAt).toLocaleString() %></td>
          <td>
            <% if (facture.status == 'Draft') { %>
              <!-- Delete Button -->
              <button class="view-btn cancel-FP" style="background-color: rgba(255 0 0 / 0.5);" data-id="<%=facture._id %>">
                <i class="fa-solid fa-trash"></i>
              </button>
              <% } %>
          </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } else { %>
  <p>No facture proformas found.</p>
  <% } %>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    // Add event listeners to all validate buttons
    const validateButtons = document.querySelectorAll(".cancel-FP");
    validateButtons.forEach((button) => {
      button.addEventListener("click", function(e) {
        e.stopPropagation(); // Prevent row click event
        const FPtId = button.getAttribute("data-id");

        // Show SweetAlert confirmation dialog
        Swal.fire({
          title: "Are you sure?",
          text: "Do you want to cancel this Facture proforama?",
          icon: "question",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, cancel it!",
        }).then((result) => {
          if (result.isConfirmed) {
            // Redirect to the validation endpoint
            window.location.href = `/achat/approvisionnement/facture-proforma/cancel/${FPtId}`;
          }
        });
      });
    });
  });
</script>