<button
  type="button"
  class="btn me-2 btn-success px-2 py-1"
  data-bs-toggle="modal"
  data-bs-target="#stock-<%= medicament.medicamentId._id %>"
>
  <i class="bi bi-plus-lg"></i>
</button>

<div
  class="modal fade add-storage-modal"
  id="stock-<%= medicament.medicamentId._id %>"
  data-bs-keyboard="true"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content add-storage-page-container">
      <div class="modal-header">
        <h5 class="modal-title" id="addstock-<%= medicament.medicamentId._id %>">
          Add Medicament to Storage
        </h5>
        <h6><%= medicament.medicamentId.designation %></h6>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form
          id="addToStorageForm"
          method="POST"
          class="add-storage-form row needs-validation"
          action="/inStock"
          novalidate
        >
          <input
            type="hidden"
            id="medicamentId"
            name="medicamentId"
            value="<%= medicament.medicamentId._id %>"
          >

          <!-- Service Dropdown -->
          <div class="form-group">
            <label for="service" class="form-label">Select Service:</label>
            <select
              name="service"
              id="service-<%= medicament.medicamentId._id %>"
              class="form-select"
              required
            >
              <option value="">Choose Service...</option>
              <% services.forEach((service) => { %>
                <option value="<%= service.serviceABV %>">
                  <%= service._id %>
                </option>
              <% }); %>
            </select>
          </div>

          <!-- Storage Dropdown -->
          <div class="form-group">
            <label for="storage" class="form-label">Select Storage:</label>
            <select
              name="storageId"
              id="storage-<%= medicament.medicamentId._id %>"
              class="form-select"
              disabled
              required
            >
              <option value="">Choose a Storage</option>
            </select>
          </div>

          <!-- Quantity -->
          <div class="form-group">
            <label for="quantity" class="form-label">Quantity:</label>
            <input
              name="quantity"
              id="quantity"
              class="form-control"
              type="number"
              min="1"
              placeholder="Enter quantity"
              required
            >
          </div>
           <!--  purchase_price -->
           <div class="form-group">
            <label for="quantity" class="form-label">Purchase price:</label>
            <input
              name="purchase_price"
              id="purchase_price"
              class="form-control"
              type="number"
              min="0"
              placeholder="Enter Purchase price"
              
            >
          </div>

          <!-- Batch Number -->
          <div class="form-group">
            <label for="batchNumber" class="form-label">Batch Number:</label>
            <input
              name="batchNumber"
              id="batchNumber"
              class="form-control"
              type="text"
              placeholder="Enter batch number"
              required
            >
          </div>

          <!-- Expiry Date -->
          <div class="form-group">
            <label for="expiryDate" class="form-label">Expiry Date:</label>
            <input
              name="expiryDate"
              id="expiryDate"
              class="form-control"
              type="date"
            >
          </div>

          <!-- Checkbox for Serial Number -->
          <div class="form-group form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="serialNumberToggle-<%= medicament.medicamentId._id %>"
            >
            <label
              class="form-check-label"
              for="serialNumberToggle-<%= medicament.medicamentId._id %>"
            >
              Add Serial Number
            </label>
          </div>

          <!-- Serial Number Input -->
          <div
            class="form-group"
            id="serialNumberField-<%= medicament.medicamentId._id %>"
            style="display: none;"
          >
            <label for="serialNumber" class="form-label">Serial Number:</label>
            <input
              name="serialNumber"
              id="serialNumber-<%= medicament.medicamentId._id %>"
              class="form-control"
              type="text"
              placeholder="Enter serial number"
            >
          </div>

          <button
            type="submit"
            id="saveToStorage"
            class="btn btn-primary"
          >
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const toggleCheckbox = document.getElementById(
      "serialNumberToggle-<%= medicament.medicamentId._id %>"
    );
    const serialNumberField = document.getElementById(
      "serialNumberField-<%= medicament.medicamentId._id %>"
    );

    toggleCheckbox.addEventListener("change", function () {
      if (toggleCheckbox.checked) {
        serialNumberField.style.display = "block";
      } else {
        serialNumberField.style.display = "none";
      }
    });
  });
</script>
