<button type="button" class="btn edit-btn" data-bs-toggle="modal" data-bs-target="#edit-<%= medicament._id %>">
  <i class="bi bi-pencil-fill"></i>
</button>
<div class="modal fade add-storage-modal" id="edit-<%= medicament._id %>" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content add-storage-page-container">
      <div class="modal-header">
        <h5 class="modal-title" id="modify-<%= medicament._id %>">Edit Medicament</h5>
        <h6><%= medicament.designation %></h6>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form id="modifyMedicamentForm" method="POST" class="add-storage-form row needs-validation" action="/medicament/<%= medicament._id %>" novalidate>
         
          <!-- Code PCH -->
          <div class="form-group col-12">
            <label for="code_pch" class="form-label">Code PCH:</label>
            <input name="code_pch" id="code_pch" class="form-control" value="<%= medicament.code_pch %>" type="text" placeholder="Enter Code PCH" />
          </div>
           <!-- Code PCH -->
           <div class="form-group col-12">
            <label for="designation" class="form-label">Designation:</label>
            <input name="designation" id="designation" class="form-control" value="<%= medicament.designation %>" type="text" placeholder="Enter Designation" />
          </div>
          <!-- Nom Commercial -->
          <div class="form-group col-md-6">
            <label for="nom_commercial" class="form-label">Nom Commercial:</label>
            <input name="nom_commercial" id="nom_commercial" class="form-control" value="<%= medicament.nom_commercial %>" type="text" placeholder="Enter Nom Commercial" />
          </div>
        <!-- Type de Médicament -->
<div class="form-group col-6">
  <label for="type_medicament" class="form-label">Type de Médicament:</label>
  <select name="type_medicament" id="type_medicament" class="form-control">
    <option value="" disabled>Select Type</option>
    <option value="MÉDICAMENT" <%= medicament.type_medicament === "MÉDICAMENT" ? "selected" : "" %>>MÉDICAMENT</option>
    <option value="STUPÉFIANT" <%= medicament.type_medicament === "STUPÉFIANT" ? "selected" : "" %>>STUPÉFIANT</option>
    <option value="PSYCHOTROPE 1" <%= medicament.type_medicament === "PSYCHOTROPE 1" ? "selected" : "" %>>PSYCHOTROPE 1</option>
    <option value="PSYCHOTROPE 2" <%= medicament.type_medicament === "PSYCHOTROPE 2" ? "selected" : "" %>>PSYCHOTROPE 2</option>
    <option value="FROID" <%= medicament.type_medicament === "FROID" ? "selected" : "" %>>FROID</option>
    <option value="SOLUTÉ GRAND VOLUME" <%= medicament.type_medicament === "SOLUTÉ GRAND VOLUME" ? "selected" : "" %>>SOLUTÉ GRAND VOLUME</option>
    <option value="ANTISEPTIQUE" <%= medicament.type_medicament === "ANTISEPTIQUE" ? "selected" : "" %>>ANTISEPTIQUE</option>
    <option value="LIGATURE" <%= medicament.type_medicament === "LIGATURE" ? "selected" : "" %>>LIGATURE</option>
    <option value="CHIMIQUE" <%= medicament.type_medicament === "CHIMIQUE" ? "selected" : "" %>>CHIMIQUE</option>
    <option value="CONSOMMABLE" <%= medicament.type_medicament === "CONSOMMABLE" ? "selected" : "" %>>CONSOMMABLE</option>
    <option value="STÉRILISATION" <%= medicament.type_medicament === "STÉRILISATION" ? "selected" : "" %>>STÉRILISATION</option>
    <option value="CATHETERISME" <%= medicament.type_medicament === "CATHETERISME" ? "selected" : "" %>>CATHETERISME</option>
    <option value="RADIOLOGIE" <%= medicament.type_medicament === "RADIOLOGIE" ? "selected" : "" %>>RADIOLOGIE</option>
    <option value="LABORATOIRE" <%= medicament.type_medicament === "LABORATOIRE" ? "selected" : "" %>>LABORATOIRE</option>
    <option value="ANAPATHE" <%= medicament.type_medicament === "ANAPATHE" ? "selected" : "" %>>ANAPATHE</option>
    <option value="FIBROSCOPIE" <%= medicament.type_medicament === "FIBROSCOPIE" ? "selected" : "" %>>FIBROSCOPIE</option>
    <option value="CHIRURGIE GÉNÉRALE" <%= medicament.type_medicament === "CHIRURGIE GÉNÉRALE" ? "selected" : "" %>>CHIRURGIE GÉNÉRALE</option>
    <option value="INSTRUMENT" <%= medicament.type_medicament === "INSTRUMENT" ? "selected" : "" %>>INSTRUMENT</option>
    <option value="OSTÉO-SYNTHÈSE" <%= medicament.type_medicament === "OSTÉO-SYNTHÈSE" ? "selected" : "" %>>OSTÉO-SYNTHÈSE</option>
  </select>
</div>


          <!-- Forme -->
<div class="form-group col-md-6">
  <label for="forme" class="form-label">Form:</label>
  <select name="forme" id="forme" class="form-control">
    <option value="" disabled>Select Form</option>
    <option value="AMPOULE" <%= medicament.forme === "AMPOULE" ? "selected" : "" %>>AMPOULE</option>
    <option value="FLACON" <%= medicament.forme === "FLACON" ? "selected" : "" %>>FLACON</option>
    <option value="UNITE" <%= medicament.forme === "UNITE" ? "selected" : "" %>>UNITE</option>
    <option value="LITRE" <%= medicament.forme === "LITRE" ? "selected" : "" %>>LITRE</option>
    <option value="COMPRIME" <%= medicament.forme === "COMPRIME" ? "selected" : "" %>>COMPRIME</option>
    <option value="SACHET" <%= medicament.forme === "SACHET" ? "selected" : "" %>>SACHET</option>
    <option value="TUBE" <%= medicament.forme === "TUBE" ? "selected" : "" %>>TUBE</option>
    <option value="TUBE" <%= medicament.forme === "GELULE" ? "selected" : "" %>>GELULE</option>
  </select>
</div>


          <!-- Boite De -->
          <div class="form-group col-md-6">
            <label for="boite_de" class="form-label">Boite De:</label>
            <input name="boite_de" id="boite_de" class="form-control" value="<%= medicament.boite_de %>" type="number" placeholder="Enter Boite De" />
          </div>


         

          <!-- Submit Button -->
          <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>