<% layout('layouts/boilerplate') %>

<div class="stock-details-container">
  <div class="col m-auto">
    <h3 class="mb-4 text-center text-greenSea">Liste des Foursnisseurs</h3>
    <div class="mb-3">
      <%- include("./new")%>
      
    </div>

    <form class="search-bar mb-2">
      <input type="text" id="search"  placeholder="Search medicaments" />
  </form>

    <table  class="stock-details-table sortable">
      <thead >
        <tr>
          
          <th scope="col">Raison sociale</th>
          <th scope="col">Wilaya</th>
          <th scope="col">Email</th>
          <th scope="col">Fixe</th>
          <th scope="col">Mobile1</th>
          <th scope="col">Mobile2</th>
          <th scope="col">Fax</th>
          <th id="item1" scope="col">Action</th>
        </tr>
      </thead>
      <tbody id="tablebody">
        <% var i=1 %> <% for (fournisseur of fournisseurs){%>

        <tr>
        
          <td><%= fournisseur.name %></td>
          <td><%= fournisseur.wilaya %></td>
          <td><%=fournisseur.email%></td>
          <td><%=fournisseur.phone%></td>
          <td><%= fournisseur.mobile[0] || 'N/A' %></td>
          <td><%= fournisseur.mobile[1] || 'N/A' %></td>
          <td><%=fournisseur.fax %></td>
          <td>
            <div class="d-flex justify-content-center align-items-center">
              <%- include("./edit")%> 
              <button type="button" class="btn delete-btn delete-fournisseur-btn py-1 px-2" data-url="/fournisseur/<%=fournisseur.id %>?_method=DELETE">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        <% }%>
      </tbody>
    </table>
  </div>
</div>

<script>
  let states = <%- JSON.stringify(states) %>  
</script>
<script>
  

</script>